body {
     max-width: 970px !important;
 }

 .container {
     background-color: #100a04;
     /* color: #d1cec2; */
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     /* line-height: 1.5; */
     /* font-weight: 400; */
     place-items: center;
     /* display: flex; */
     min-width: 320px;
     min-height: 100vh;
 }

 .main {
     display: flex;
     margin: 0;
     align-items: center;
     justify-content: center;
 }

 .btn-primary,
 .btn-primary:hover,
 .btn-primary:active,
 .btn-primary:visited {
     background-color: #eba80b !important;
     border-color: #ac7b07 !important;
     color: #100a04;
 }