body {
     max-width: 970px !important;
 }

 .container {
     background-color: #100a04;
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     place-items: center;
     min-width: 320px;
     min-height: 100vh;
     padding: 0;
 }

 .main {
     display: flex;
     margin-top: 20px;
     align-items: center;
     justify-content: center;
 }

 .btn-primary,
 .btn-primary:hover,
 .btn-primary:active,
 .btn-primary:visited {
     background-color: #eba80b !important;
     border-color: #ac7b07 !important;
     color: #100a04;
 }

 .card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(19, 24, 44, .03);
    border-bottom: 1px solid rgba(19, 24, 44, .125);
    color: #eba80b;
    font-size: large;
    font-weight: 600;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}